*-old
*.pyc
.*.swp
.pc
arch/all/kernel
arch/all/kernel.git/
arch/arm/toolchain/android/arm-linux-androideabi-*
arch/arm/toolchain/codesourcery/arm-20*
arch/arm/toolchain/codesourcery/bin/arm-eabi-ar
arch/arm/toolchain/codesourcery/bin/arm-eabi-as
arch/arm/toolchain/codesourcery/bin/arm-eabi-ld
arch/arm/toolchain/codesourcery/bin/arm-eabi-ranlib
arch/arm/toolchain/codesourcery/bin/arm-eabi-strip
arch/arm/toolchain/linaro/bin
arch/arm/toolchain/linaro/gcc-linaro-arm-linux-gnueabihf-*
arch/mips/toolchain/codescape-sdk/????.??-*
arch/mips/toolchain/codescape-sdk-img/????.??-*
arch/mips/toolchain/codesourcery/mips-????.??
arm-test
arm-test-0.2.tar.gz
build.log
build/
du.txt
initramfs.img.gz
install/
local.mk
log
old
patch.log
patches.tar.bz2
qemu_log
rootfs_custom.img.xz
series.tmp
src/
state/
targets/*/build
targets/*/initramfs/
targets/*/kernel-filter
targets/*/log
targets/*/patches/.gitignore
targets/*/test-results/
targets/*/tmp
targets/*/tmp-build
targets/malta/initramfs-overlay.tar.gz
targets/malta/initramfs.cpio.gz
targets/malta/patches
targets/malta/*/build
targets/malta/*/initramfs/
targets/malta/*/initramfs.cpio.gz
targets/malta/*/kernel-filter
targets/malta/*/log
targets/malta/*/patches
targets/malta/*/test-results/
targets/malta/*/tmp
targets/malta/*/tmp-build
targets/malta/*/.gdbinit
test/cross/bin
tmp
tmpfs
toolchain/clang/arm/user-libs/
toolchain/libcxx
toolchain/clang/clang.git/
toolchain/clang/llvm.git/
foo*
blah*
bar*
